# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL='http://localhost:3000'
# -----------------------------------------------------------------------------
# Authentication (Clerk)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY='your_clerk_publishable_key'
CLERK_SECRET_KEY='your_clerk_secret_key'
CLERK_WEBHOOK_SECRET='your_clerk_webhook_secret'
NEXT_PUBLIC_CLERK_SIGN_IN_URL='/sign-in'
NEXT_PUBLIC_CLERK_SIGN_UP_URL='/sign-up'
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL='/image-prompt'
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL='/image-prompt'

# -----------------------------------------------------------------------------
# Email (RESEND)
# -----------------------------------------------------------------------------
RESEND_API_KEY='1'
RESEND_FROM='1'

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
# Stripe
STRIPE_API_KEY="1"
STRIPE_WEBHOOK_SECRET="1"
NEXT_PUBLIC_STRIPE_STD_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_STD_MONTHLY_PRICE_ID="price_"

NEXT_PUBLIC_STRIPE_PRO_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_BUSINESS_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_BUSINESS_MONTHLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_BUSINESS_YEARLY_PRICE_ID="price_"

# posthog
NEXT_PUBLIC_POSTHOG_KEY=" "
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com

# admin account
ADMIN_EMAIL="admin@saasfly.io,root@saasfly.io"

# next auth debug
IS_DEBUG=false

# -----------------------------------------------------------------------------
# Database (PostgreSQL via Neon)
# -----------------------------------------------------------------------------
POSTGRES_URL='postgresql://username:password@your-neon-host/dbname?sslmode=require&channel_binding=require'